/*Custom table CSS*/

#modTableContainer {
    overflow-y: auto;
    height: 50vh;
}

#modTableContainer thead th {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px 16px;
}

th {
    background: #FFFFFF;
}
