<!-- Template from https://startbootstrap.com/templates/bare/ -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <meta content="" name="description">
        <meta content="" name="author">

        <title>CIS*3210</title>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.css" rel="stylesheet">

        <!-- Custom stuff -->
        <link href="/css/main.css" rel="stylesheet">
    </head>

    <body>
        <!-- Navigation top bar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="#">CIS*3210</a>
                {% if session.logged_in %}
                <a class="navbar-text">Welcome, {{ session.username }}!</a>
                {% endif %}
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <!--Log in/log out button-->
                        {% if session.logged_in %}
                        <li class="nav-item active">
                            <a class="nav-link" href="#" id="logout">Logout<span class="sr-only">(current)</span></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <h3 class="lead mb-4 mt-3 font-weight-bold text-center" id="message"></h3>
        <div class="container">
            {% if not session.logged_in %}
            <!--Registration or login form-->
            <form class="border mt-5 w-50 mx-auto">
                <div class="mt-2 mb-3 mx-3">
                    <div class="form-group">
                        <label for="usernameInput">Username</label>
                        <input class="form-control" id="usernameInput" type="text">
                    </div>
                    <div class="form-group">
                        <label for="passwordInput">Password</label>
                        <input class="form-control" id="passwordInput" type="password">
                    </div>
                    <button class="btn btn-primary" id="submitLogin" type="button">Submit</button>
                </div>
            </form>
            {% else %}
            <!--Logged in user features-->
            <div class="row">
                <div class="border col mx-3">
                    <!--Change password-->
                    <div class="mt-2 mb-3 mx-3">
                        <div class="form-group">
                            <label for="newPassword">New Password</label>
                            <input class="form-control" id="newPassword" type="password">
                        </div>
                        <button class="btn btn-primary" id="submitPasswordChange" type="button" value="{{ session.username }}">Submit</button>
                    </div>
                </div>
                <div class="border col mx-3">
                    <!--Change username-->
                    <div class="mt-2 mb-3 mx-3">
                        <div class="form-group">
                            <label for="newUsername">New Username</label>
                            <input class="form-control" id="newUsername" type="text">
                        </div>
                        <button class="btn btn-primary" id="submitUsernameChange" type="button" value="{{ session.username }}">Submit</button>
                    </div>
                </div>
                <div class="border col mx-3 p-3 text-center">
                    <!--Delete account-->
                    <button class="btn btn-danger" id="submitDeleteAccount" type="button">Delete Account</button>
                </div>
            </div>
            {% endif %}

            <div class="row mt-5">
                <!-- Search stuff -->
                <div class="container mb-1">
                    <div class="row">
                        <input class="form-control col-2 mr-1 align-self-end" id="searchTerm" placeholder="Search Term" type="text">
                        <button class="btn btn-primary mr-1 col-2 align-self-end" id="submitSearch" type="button">Search</button>
                        <button class="btn btn-danger col-2 align-self-end" id="resetSearch" type="button">Clear Search</button>
                        <div class="col-3"></div>
                        <div class="col-2">
                            <label for="numberOfItems"># of Items</label>
                            <select class="custom-select" id="numberOfItems">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option selected="selected" value="-1">All</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Data table -->
                <div class="border w-100" id="modTableContainer">
                    <table class="table table-hover table-borderless" id="modTable">
                        <thead class="border-bottom">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Short Description</th>
                                <th scope="col" style="z-index: 1">Download</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>

        <!-- Custom stuff -->
        <script src="/js/init.js"></script>
    </body>

    <div class="blockquote-footer">
        <div class="container">
            <div class="row">
                <div class="mx-auto">
                    <h5 class="text-uppercase font-weight-bold">Name</h5>
                    <p>Nicholas Rosati</p>
                </div>
                <div class="mx-auto">
                    <h5 class="text-uppercase font-weight-bold">Student Number</h5>
                    <p>1037025</p>
                </div>
            </div>
        </div>
    </div>
</html>
