<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="#">
		<title>CIS*3210 Lab 1</title>

		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/css/cover.css" rel="stylesheet">
		<link href="/css/clippy.css" rel="stylesheet">
		<link href="/css/custom.css" rel="stylesheet">
	</head>

	<body>
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="inner cover">
						<h1 class="cover-heading">CIS*3210 Lab 1</h1>
						<p class="lead">Click the buttons below to make Links do something!</p>
						<div class="container">
							<div class="row">
								<a href="#" id="greeting-button" class="btn btn-lg btn-info col m-1">Greeting</a>
								<a href="#" id="artsy-button" class="btn btn-lg btn-info col m-1">GetArtsy</a>
								<a href="#" id="alert-button" class="btn btn-lg btn-info col m-1">Alert</a>
							</div>
							<div class="row">
								<a href="#" id="wave-button" class="btn btn-lg btn-info col m-1">Wave</a>
								<a href="#" id="save-button" class="btn btn-lg btn-info col m-1">Save</a>
								<a href="#" id="print-button" class="btn btn-lg btn-info col m-1">Print</a>
							</div>
							<div class="row">
								<a href="#" id="get-wizardy-button" class="btn btn-lg btn-info col m-1">Get Wizardy</a>
								<a href="#" id="congratulate-button" class="btn btn-lg btn-info col m-1">Congratulate</a>
								<a href="#" id="empty-trash-button" class="btn btn-lg btn-info col m-1">Empty Trash</a>
							</div>
							<div class="row">
								<a href="#" id="stop-current-button" class="btn btn-lg btn-warning col m-1">Stop Current</a>
								<a href="#" id="stop-all-button" class="btn btn-lg btn-danger col m-1">Stop All</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/clippy.min.js"></script>
		<script src="/js/init.js"></script>
	</body>

	<footer class="page-footer font-small teal pt-4">
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<h5 class="text-uppercase font-weight-bold">Name</h5>
					<p>Nicholas Rosati</p>
				</div>
				<div class="col-sm">
					<h5 class="text-uppercase font-weight-bold">Student Number</h5>
					<p>1037025</p>
				</div>
			</div>
		</div>
	</footer>

</html>
